In [4]:
import pandas as pd
import numpy as np
import seaborn as sns

In [5]:
df = sns.load_dataset('planets')

### Print/ Display the first 5 rows of dataframe

In [8]:
# your code here
print(df[:5])

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

### Print/ Display the last 5 rows of dataframe

In [7]:
# your code here
print(df[-5:])

       method  number  orbital_period  mass  distance  year
1030  Transit       1        3.941507   NaN     172.0  2006
1031  Transit       1        2.615864   NaN     148.0  2007
1032  Transit       1        3.191524   NaN     174.0  2007
1033  Transit       1        4.125083   NaN     293.0  2008
1034  Transit       1        4.187757   NaN     260.0  2008

### How many unique methods are there?

# your code here

In [90]:
print(df['method'].nunique())

10

### What is the number of data collected in each year?

In [92]:
# your code here
print(df.groupby(df.year)['number'].sum())

year
1989      1
1992      6
1994      3
1995      1
1996     15
1997      1
1998     11
1999     24
2000     27
2001     15
2002     46
2003     35
2004     41
2005     64
2006     43
2007     65
2008    120
2009    131
2010    193
2011    354
2012    258
2013    277
2014    117
Name: number, dtype: int64

### Which columns have missing values and how many?

In [23]:
# your code here
print(df.columns[df.isna().any()]) # columns have missing values
print(df.isna().sum())

Index(['orbital_period', 'mass', 'distance'], dtype='object')
method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

### Write docstring for the function below.

In [31]:
def do_something(x, y, z):
    """
    It takes the reciprocal of the given numbers, adds them and returns.
    """   

    result = 1 / x + 1 / y + 1 / z

    return 1 / result

### Get (print) the docstring of the function defined above.

In [32]:
# your code here
print(do_something(11,13,15))
print(do_something.__doc__)

4.26441351888668

    It takes the reciprocal of the given numbers, adds them and returns.

### Call do_something function for the (11,13,15) values and save it as result

In [46]:
# your code here
result = (do_something(11,13,15))
print(result)

4.26441351888668

### In the variable 's' containing a sentence, extract the word using result defined above as index

In [47]:
s = "I love Machine Learning and Deep Learning"
# use int() to convert the result to integer
# your code here
s = (s.split())
print(s[int(result)])

and

### Sort the given array below, do not use built in functions. All sorting methods are allowed.

In [55]:
import random

arr = [random.randint(1, 100) for i in range(10)]

# your code here
#insertion sort
for i in range(1, len(arr)):
    a = arr[i]
    j = i - 1

    while (j >= 0) & (a < arr[j]):
        arr[j+1] = arr[j]
        j -= 1
    arr[j+1] = a
print(arr)

[13, 19, 29, 37, 40, 49, 53, 63, 90, 94]

### define a recursive function to calculate input numbers factorial named factorial

In [73]:
# your code here
def factorial(*numbers):
    def _(n):
        for num in range(2, n):
            n *= num
        return n
    for i in numbers:
        a = _(i)
        print(a)

factorial(2,4,5)

2
24
120

### define a function to merge the given arrays and calculate the median named twoMedian

In [79]:
# your code here
def twoMedian(*x):
    concatenated = np.concatenate(x)
    print(np.median(concatenated))
twoMedian()

3.5